* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-color: hsl(217, 54%, 11%);
    background-size: 375px;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    margin: 0 1.5rem;

}

main {
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 580px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 16px 33px 39px hsl(215, 48%, 10%);
}

.previews {
    position: relative;
    background-image: url(./images/image-equilibrium.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.hover {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.hover:hover {
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:hsla(178, 100%, 50%, 0.507);
    cursor: pointer;

}

h1 {
    font-size: 1.2rem ;
    color: hsl(0, 0%, 100%);
    text-align: left;
    padding: 25px 0 0 26px;
}
 
h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

section > p {
    color: hsla(215, 52%, 70%, 0.673);
    text-align: left;
    font-weight: 300;
    padding: 10px 25px 15px 26px;
    line-height: 1.5;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    padding-bottom: 22px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.info > p:first-of-type {
    color: hsl(178, 100%, 50%);
    margin-right: 95px;
}

.info > p:nth-of-type(2) {
    color: hsla(215, 52%, 70%, 0.673);
}

.info > img {
    padding-right: 6px;
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 65px 0 0;
    color:hsla(215, 52%, 70%, 0.673);
}

figcaption {
   padding-top: 8px;
   font-size: .9rem;
}

span {
    text-decoration: none;
    color:hsl(0, 0%, 100%)
}

span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

figure > img {
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}


